.App {
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
}

table,
tbody {
  margin: 2px;
  border-radius: 34px solid #ddd;
}

td {
  border-spacing: 0 15px;
  padding: 12px;
  border: 0.023px solid;
  text-align: left;
  margin: 12px;

}



td {
  border: 0.01px solid lightgray;
}

.Variable {
  background-color: #bfbfbfef;
  margin: 2px;
  font-weight: bold;
  border-radius: 2px;
  padding: 2px 13px;
  width: 100%;
}

.btns {
  border-radius: 50%;
  padding: 6px;
  border: 1px solid red;
  color: red;
}

.main-btns {
  border-radius: 50%;
  padding: 7px;
  margin-bottom: 12px;
  align-items: center;
  /* float: right;
  right: 23rem; */
  border: 5px solid rgb(4, 131, 71);
}

.btns-save {
  border-radius: 100px;
  padding: 2px 11px;
  border: 1px solid red;
  color: red;
}

.option>input {
  margin: 0 34px;
  border: none;
  background-color: rgb(195, 208, 212);
}

.option>option {
  outline: none;
}

.header {
  border-bottom: 1.5px solid rgb(127, 118, 118);
  width: 100%;
  margin: auto;
  margin: 2px 22px;
}

input {
  outline: none;
  border: none;
}

.option {
  border: none;
  padding: 2px 12px;
  margin: 2px;
  margin-right: -13px;
}

label {
  font-weight: lighter;
}